* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100vh;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #9e9e9e;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}
